<div class="well well-sm text-left">
  <p>@<%= tweet.user.screen_name %> (<%= tweet.user.name %>) - <span class="small"><%= tweet.created_at %> UTC</span></p>
  <p class="lead"><%= tweet.text %></p>
</div>
